<h1>{{title}}</h1>
{{#with post}}
  <h2 class="text-xl">{{title}}</h2>
  <div>
    작성자:
    <b>{{writer}}</b>
  </div>
  <div>
    조회수 :
    {{hits}}
    | 작성일시 :
    {{dateString createdDt}}
    <button onclick="modifyPost()">수정</button>
    <button onclick="deletePost()">삭제</button>
  </div>

  <div>
    <pre>{{content}}</pre>
  </div>

  <section>
    <div>
      <h3>{{lengthOfList comments}}개의 댓글이 있습니다.</h3>
    </div>
    <form action="/write-comment" method="post">
      <input type="hidden" name="id" value="{{_id}}" />
      <div>
        <div>
          <input type="text" name="name" placeholder="이름" />
          <input type="password" name="password" placeholder="비밀번호" />
        </div>
        <div>
          <textarea
            name="comment"
            id=""
            cols="40"
            rows="3"
            placeholder="댓글을 입력해주세요."
          ></textarea>
          <br /><br /><button>댓글 쓰기</button>
        </div>
      </div>
    </form>
  </section>

  <section>
    {{#each comments}}
      <div>
        <div>
          작성자:
          <b>{{name}}</b>
        </div>
        <div>
          작성일시:
          {{dateString createdDt}}
          <button onclick="deleteComment('{{idx}}')">삭제</button>
        </div>
      </div>
      <div>
        <pre>{{comment}}</pre>
      </div>
    {{/each}}
  </section>
{{/with}}
<footer>
  <div>
    <a href="/">목록으로</a>
  </div>
</footer>
{{! prettier-ignore }}
<script>
async function modifyPost() {
  const password = prompt("패스워드를 입력하세요");
  if (!password) {
    return;
  }

  try {
    const result = await fetch("/check-password", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ id: '{{post._id}}', password }),
    });
    const data = await result.json();
    if (!data.isExist) {
      alert("비밀번호가 일치하지 않습니다.");
      return;
    }
    location.href = `/modify/{{post._id}}`;
  } catch (err) {
    console.error(err);
  }
}
async function deletePost() {
  const password = prompt('삭제하려면 패스워드를 입력해주세요')
  if(!password) {
    return
  }
  try {
    const result = await fetch(`/delete`, {
      method:'DELETE',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({id: '{{post._id}}', password})
    })
    const data = await result.json()
    if(!data.isSuccess) {
      alert('삭제에 실패했습니다. 패스워드를 확인해주세요')
      return
    }
    document.location = '/'
  } catch(err) {
    console.error(err)
  }
}

async function deleteComment(idx) {
  const password = prompt('패스워드를 입력하세요')
  if (!password) {
    return
  }

  const result = await fetch('/delete-comment', {
    method: 'DELETE',
    headers: {
      'Content-type': 'application/json'
    },
    body: JSON.stringify({id: '{{post._id}}', idx, password})
  })

  const data = await result.json()
  if (!data.isSuccess) {
    alert(`삭제에 실패했습니다. 패스워드를 확인해주세요`)
    return
  }

  alert('삭제 성공!')
  document.location.reload()
}

</script>